* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1 {
  display: flex;
  justify-content: flex-start;
  color: rgb(22, 65, 206);
}

.city {
  display: flex;
  justify-content: flex-start;
}

.card-two {
  padding: 10px;
}
